BasedOnStyle: Google
Standard: Auto
ColumnLimit: 145
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
BreakBeforeBraces: Allman
SortIncludes: CaseInsensitive
SeparateDefinitionBlocks: Leave
CompactNamespaces: false
PackConstructorInitializers: Never
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
IndentCaseLabels: true
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PointerAlignment: Left

AlignAfterOpenBracket: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: DontAlign

AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
BreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: Always
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketBracedList: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParens: Never
SpacesInAngles: Never
SpacesInContainerLiterals: true
SpacesInSquareBrackets: false
